.container__1200px {
    @include make-container(1200px);
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
}

input:focus {
    outline: none;
}

.g-heading {
    font-weight: 900;
    font-size: 40px;
    font-family: 'GothamPro', sans-serif;

    color: $lightBlack;
    line-height: 120%;
}