.container__1200px {
    @include make-container(1200px);
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

.none {
    display: none !important;
}

.g-heading {
    font-weight: 900;
    font-size: 40px;
    font-family: 'GothamPro', sans-serif;

    color: $lightBlack;
    line-height: 120%;
}

.g-input {
    border: 0.05em solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 1.43em;

    line-height: 1;
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    transition: .4s;

    &::placeholder {
        color: #A6A6A6;
    }

    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}

.g-input-error {
    background-color: #FAD5D5;
    border: 0.05em solid #FF0000;
    color: #FF6D6D;

    transition: .4s;

    &::placeholder {
        color: #FF6D6D;
    }
}

.g-select-error {
    background-color: #FAD5D5 !important;
    border: 0.05em solid #FF0000 !important;
    color: #FF6D6D;

    transition: .4s;

    .select-box-current {
        color: #FF6D6D;
    }

    svg {
        fill: #FF0000;
    }
}