@import "vars";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-size: 20px;
    color: $lightBlack;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    min-width: 320px;
}

.m-open {
    overflow: hidden;

    .header {
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 50;
        top: 0;

        .menu {
            display: block;
        }
    }
}

@import 'fonts';
@import 'global';

@import './limbs/header.scss';
@import './limbs/footer.scss';


@import './blocks/language-switcher.scss';
@import './blocks/main-slider.scss';
@import './blocks/experience.scss';
@import './blocks/services.scss';
@import './blocks/certificates.scss';
@import './blocks/blog.scss';
@import './blocks/contacts.scss';
@import './blocks/card360deg.scss';
@import './blocks/select-btn.scss';
@import './blocks/thanks-message.scss';
@import './blocks/burger.scss';
@import './blocks/pagination-dots.scss';
@import './blocks/pagination-arrows.scss';
@import './blocks/mobile-menu.scss';
@import './blocks/medicine-preview.scss';
@import './blocks/medicine-slider.scss';
@import './blocks/accordion.scss'; 
@import './blocks/video.scss'; 
@import './blocks/official-partner.scss'; 