@import "vars";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-size: 20px;
    color: $lightBlack;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    min-width: 320px;
}

.m-open {
    @media (max-width: 768px) { 
        overflow: hidden;

        .header {
            height: 100vh;
            min-height: 100%;
            width: 100%;
            position: fixed;
            z-index: 50;
            top: 0;

            .menu {
                display: block;
            }
        }
    }
}

.light-page {
    .footer {
        background-color: white;
    }
}

.gray-page {
    background-color: #F0F0F0;
}

@import 'fonts';
@import 'global';

@import './limbs/header.scss';
@import './limbs/footer.scss';


@import './blocks/language-switcher.scss';
@import './blocks/main-slider.scss';
@import './blocks/experience.scss';
@import './blocks/services.scss';
@import './blocks/certificates.scss';
@import './blocks/blog-default.scss';
@import './blocks/blog-item.scss';
@import './blocks/blog-article.scss';
@import './blocks/blog.scss';
@import './blocks/contacts.scss';
@import './blocks/card360deg.scss';
@import './blocks/select-btn.scss';
@import './blocks/thanks-message.scss';
@import './blocks/burger.scss';
@import './blocks/pagination-dots.scss';
@import './blocks/pagination-arrows.scss';
@import './blocks/mobile-menu.scss';
@import './blocks/preview.scss';
@import './blocks/medicine-slider.scss';
@import './blocks/accordion.scss';
@import './blocks/video.scss';
@import './blocks/official-partner.scss';
@import './blocks/account-panel.scss';
@import './blocks/policy.scss';
@import './blocks/breadcumps.scss';
@import './blocks/not-found.scss';
@import './blocks/company-data.scss';
@import './blocks/company-contacts.scss';
@import './blocks/preview-about.scss';
@import './blocks/about-years.scss';
@import './blocks/about-benefits.scss';
@import './blocks/about-values.scss';
@import './blocks/about-media.scss';
@import './blocks/insurance-services.scss';
@import './blocks/reinsurance.scss';
@import './blocks/cybersecurity.scss';
@import './blocks/cybersecurity-additionaly.scss';
@import './blocks/cybercrime.scss';
@import './blocks/security-level.scss';
@import './blocks/packages.scss';
@import './blocks/professions.scss';
@import './blocks/our-clients.scss';
@import './blocks/mockup.scss';
@import './blocks/why-we.scss';