.blog__table-item {
    width: 30.208vw;
    background-color: white;
    font-family: 'GothamPro', sans-serif;

    display: flex;
    transition: .4s box-shadow;
    overflow: hidden;

    grid-column: span 2;
    grid-row: span 1;

    @media (min-width: 1230px) {
        &--long {
            grid-column: span 1;
            grid-row: span 2;
            width: 16.667vw;

            flex-direction: column;

            .blog__table-item-img {
                width: auto;
                height: 23.802vw;
                position: relative;

                img {
                    width: 16.667vw;
                    height: inherit;
                }
            }

            .blog__table-item-info {
                h3 {-webkit-line-clamp: 2 }
            }
        }  
    }

    &-info {
        height: auto;
        padding: 1.563vw 1.302vw 1.563vw 1.563vw;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;

        z-index: 5;

        data {
            color: $darkBlue;
            font-size: 0.625vw;
            font-weight: 700;
            padding-bottom: 0.260vw;
        }

        h3 {
            font-size: 0.833vw;
            font-weight: 700;
            line-height: 140%;

            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &-img {
        width: auto;
        height: 14.583vw;
        position: relative;

        &-tag {
            padding: 0.208vw 0.521vw;
            position: absolute;
            bottom: 0;
            left: 0;

            font-size: 0.625vw;
            font-weight: 700;
            line-height: 140%;
            
            color: white;
            transition: background-color .4s;
            background-color: $spanishRed;
        }

        img {
            width: 14.063vw;
            height: inherit;

            transition: 4s transform;
        }
    }

    &:hover {
        box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);

        .blog__table-item-img-tag {
            background-color: $darkBlue;
        }
    }

    @media (max-width: 1230px) {
        grid-column: span 1;
        width: auto;
        height: 22.764vw;
        
        &-img {
            height: 22.764vw;
            img {
                width: 22vw;
                height: 22.764vw;
            }

            &-tag { font-size: 0.976vw; padding: 0.325vw 0.813vw; }
        }

        &-info {
            padding: 2.439vw 2.033vw 2.439vw 2.439vw;

            data { font-size: 0.976vw;}
            h3 { font-size: 1.301vw;}
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        height: 26.875vw;

        &-img {
            height: 26.875vw;
            img {
                width: 26.875vw;
                height: 26.875vw;
            }

            &-tag { display: none; }
        }

        &-info {
            padding: 4.688vw 10vw 4.688vw 4.688vw;

            data { font-size: 2.5vw }
            h3 { font-size: 3.8vw; line-height: 120%;}
        }
    }

    @media (min-width: 1024px) {
        &:hover {
            .blog__table-item-img {
                img { transform: scale(1.2) }
            }
        }
    }
}

@media (min-width: 1920px) {
    .blog__table-item {
        width: 580px;
        height: 280px;

        &--long {
            width: 320px;
            height: 580px;

            .blog__table-item-img {
                width: auto;
                height: 457px;

                img {
                    width: 320px;
                    height: 457px;
                }
            }
        }

        &-info {
            padding: 30px 25px 30px 30px;
            data {font-size: 12px;}
            h3 {font-size: 16px;}
        }

        &-img {
            height: 280px;

            &-tag {
                padding: 4px 10px;
                font-size: 12px;
            }

            img {
                width: 270px;
                height: inherit;
            }
        }
    }
}