.blog-main {
    padding: 1.2em 0 4em;
    background-color: #F0F0F0;

    @media (max-width: 575px) {
        padding: 0.8em 0 2em;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.8em;

        h1 {
            font-size: 3em;
            line-height: 1;
    
            @media (max-width: 1230px) { font-size: 4.878vw }
            @media (max-width: 768px) { font-size: 32px; margin-bottom: 0.5em }
            @media (max-width: 575px) { font-size: 26px }
        }

        &--article {
            margin-bottom: 2em;
            h1 {
                font-size: 2em;
                @media (max-width: 768px) { font-size: 32px }
                @media (max-width: 575px) { font-size: 26px }
            }
        }

        @media (max-width: 1024px) {
            margin-bottom: 1.5em;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 1em;
        }

        @media (max-width: 575px) {
            margin-bottom: 0.75em;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;

        .blog__table-item {
            grid-column: span 1;
            grid-row: span 1;

            @media (min-width: 1230px) {
                width: 560px;
                height: 280px;
        
                &-info {
                    padding: 30px 25px 30px 30px;
                    data {font-size: 12px;}
                    h3 {font-size: 16px;}
                }
        
                &-img {
                    height: 280px;
        
                    &-tag {
                        padding: 4px 10px;
                        font-size: 12px;
                    }
        
                    img {
                        width: 270px;
                        height: inherit;
                    }
                }
            }
        }

        .blog__table-item:nth-child(0n + 3), .blog__table-item:nth-child(0n + 2), .blog__table-item:nth-child(4n + 3), .blog__table-item:nth-child(4n + 2) {
            @media (min-width: 1230px) {
                grid-column: span 1;
                grid-row: span 2;
    
                width: 300px;
                height: 580px;
                flex-direction: column;
    
                .blog__table-item-img {
                    width: auto;
                    height: 457px;
                    position: relative;
    
                    img {
                        width: 300px;
                        height: inherit;
                    }
                }
    
                .blog__table-item-info {
                    h3 {-webkit-line-clamp: 2 }
                }
            }
        }

        @media (max-width: 1230px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.626vw;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__show {
        background-color: white;
        padding: 15px 0;
        margin-top: 20px;

        color: $spanishRed;
        transition: .4s;

        font-size: 16px;
        font-family: 'GothamPro', sans-serif;
        font-weight: 700;
        
        @media (min-width: 400px) { &:hover { color: $darkBlue } }

        @media (max-width: 400px) {
            margin-top: 15px;
            font-size: 12px;
            &:focus { color: #B0B0B0 }
        }
    }

    &--article {
        padding-top: 0;
    }
}