.card360deg {
    width: 34.25em;
    height: 31.85em;

    position: relative;

    perspective: 2000px;
    user-select: none;

    @media (max-width: 575px) {
        width: 95%;
        height: 650px;
    }
}

.front__side, .back__side {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;

    transition: ease .6s;
    
    backface-visibility: hidden;
}

.card360deg .front__side {
    transform: rotateY(0deg);
}

.card360deg .back__side {
    transform: rotateY(180deg);
}

.back__side {
    transform: rotateY(180deg);
    background-color: white;
}

.card360deg--active {
    .front__side {
        transform: rotateY(180deg);
    }

    .back__side {
        transform: rotateY(360deg);
    }
}