.company-contacts {
    background-color: $darkBlue;
    color: white;

    padding: 4em 0;
    position: relative;
    overflow: hidden;

    &__container { display: flex }

    &__map {
        position: absolute;
        bottom: 0;
        left: 45%;
        right: 0;

        width: 60%;
        height: 100%;

        @media (max-width: 992px) { 
            width: 70%;
            left: 35%;
        }

        @media (max-width: 768px) { 
            width: 100%;
            height: 52%;

            bottom: initial;
            top: 0;
            left: 0;
        }
    }

    &__info {
        box-shadow: 0 64px 134px rgba(0, 0, 0, 0.1);
        background-color: white;
        color: $lightBlack;

        padding: 4em;
        position: relative;
        z-index: 20;

        h1 {
            font-size: 3em;
            font-weight: 700;
            margin-bottom: 0.416em;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-item {
            display: flex;
            flex-direction: column;

            span {
                color: $darkBlue;
                font-size: 0.6em;
                font-weight: 800;

                text-transform: uppercase;
                line-height: 160%;
            }

            p {
                max-width: 430px;
                font-size: 0.9em;

                line-height: 160%;

                @media (max-width: 992px) { max-width: 300px }
            }

            a {
                line-height: 160%;
                transition: .4s color;
                width: fit-content;
                
                &::after { color: $lightBlack }

                &:hover {
                    color: $spanishRed;
                    &::after { color: $lightBlack }
                }
            }
            
            .phone {
                font-size: 1em;
                font-weight: 700;

                display: flex;

                &::after {
                    content: "(круглосуточно)";
                    display: flex;
                    margin-top: 0.2em;
                    margin-left: 0.3em;

                    font-size: 0.7em;
                    font-weight: 500;
                }
            }

            .mail {
                text-decoration: underline;
                font-size: 0.9em;
            }

            &:not(:last-child) { margin-bottom: 1.25em }

            @media (max-width: 400px) { 
                &:not(:last-child) { margin-bottom: 15px }
            } 
        }

        .g-red-link {
            color: white;
            border: 0.05em solid $spanishRed;
            padding: 0.8em 3.1em;

            &:hover { color: $spanishRed }
        }

        @media (max-width: 992px) { 
            font-size: 0.8em;
            padding: 3em;
        }

        @media (max-width: 768px) { 
            padding: 3em;
            margin: 0 auto;

            h1 { font-size: 1.9em }
        }

        @media (max-width: 400px) { 
            padding: 30px 15px;
            p { font-size: 14px; }
            .g-red-link { 
                width: initial;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            .phone { font-size: 1.1em }
            span {
                font-size: 10px;
                margin-bottom: 3px;
            }
        } 
    }

    @media (max-width: 768px) { padding: 10em 0 4em }
}