.cybersecurity-additionaly {
    &__container {
        @include make-container(1800px);
            
        background-color: $darkBlue;
        color: white;

        box-sizing: border-box;
        padding: 1.6666vw 3.125vw 1.6666vw 3.125vw;
        margin-bottom: 2.083vw;

        @media (min-width: 1920px) { 
            padding: 32px 60px;
            margin-bottom: 40px;
        }

        p {
            font-weight: 300;
            font-size: 1.25vw;
            font-style: italic;

            line-height: 160%;

            @media (max-width: 1024px) { 
                font-size: 2vw;
            }

            @media (max-width: 575px) { 
                font-size: 3vw;
            }

            @media (max-width: 400px) { 
                font-size: 14px;
            }

            @media (min-width: 1920px) { 
                font-size: 24px;
            }
        }

        @media (max-width: 1830px) { 
            margin: 0 15px 40px;
        }

        @media (max-width: 575px) { 
            padding: 30px 15px;
        }
    }
}