.cybersecurity {
    padding: 4em 0 0;
    background-color: white;

    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) { 
        padding: 2em 0 0;
    }

    @media (max-width: 400px) { 
        padding: 1.5em 0 0;
    }

    .services__table-item-wrapper {
        p { &:last-child {padding-top: 0;} }
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-bottom: 3.9em;
        box-sizing: border-box;

        h1 {
            font-size: 2em;
            max-width: 12em;
            margin-bottom: 0.365em;

            @media (max-width: 1024px) { 
                font-size: 1.5em;
            }

            @media (max-width: 400px) { 
                font-size: 18px;
                margin-bottom: 5px;
            }
        }

        p {
            font-size: 0.9em;
            line-height: 160%;
            max-width: 28.333em;

            @media (max-width: 1024px) { 
                font-size: 0.8em;
            }

            @media (max-width: 400px) { 
                font-size: 12px;
            }
        }

        @media (max-width: 1024px) { 
            margin-bottom: 1.5em;
        }

        @media (max-width: 400px) { 
            margin-bottom: 20px;
        }
    }
}