.language__switcher {
    background-color: inherit;
    color: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.75em 0.7em;
    position: relative;
    transition: .4s;

    &::after {
        content: "";
        width: 0.05em;
        height: 1em;

        position: absolute;
        right: 0;
        top: 50%;

        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-50%);
        transition: .4s;
    }

    main {
        display: flex;
        align-items: center;
    }

    span {
        font-size: 0.6em;
    }

    svg {
        margin-left: 0.15em;
        transition: .4s transform;
    }

    &-select {
        opacity: 0;

        width: 1.4em;
        height: 1em;

        position: absolute;
        bottom: -100%;
        z-index: -10;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        transition: .4s;
        padding: 0.75em 0.7em;
        background-color: white;
        box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05);
    
        span {
            margin-right: auto;
            transition: .4s;
        }

        &::before {
            content: "";
            width: 2.4em;
            height: 0.05em;

            background-color: rgba(32, 32, 32, 0.1);
            position: absolute;
            top: -0.05em;
        }

        &:hover {span { color: $spanishRed !important }}
    }

    &:hover, &:focus {
        background-color: white;

        .language__switcher-select {
            opacity: 1;
            z-index: 15;
        }

        &::after {
            display: none;
        }

        span {
            color: $lightBlack;
            font-weight: 500;
        }

        svg {
            fill: $lightBlack;
            transform: rotate(-180deg);

            g { opacity: 1; }
        }
    }

    &--mb {
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 0;
        margin-left: auto;
       
        .language__switcher-select {
            bottom: -83%;
            width: 50px;

            display: none;
            padding: 0.75em 0;

            span { margin-left: 1.5em }
        }

        span {
            font-weight: 500;
            color: #909090;
        }

        svg {
            fill: #909090;
            margin-left: 0.25em;
            g { opacity: 1; }
        }

        &:hover {
            .language__switcher-select {
                display: flex;
                opacity: 1;
                z-index: 15;
            }
        }
    }

    &--light {
        margin-top: 1em;
        margin-left: auto;

        .language__switcher-select {
            box-shadow: none;
            top: -100%;
            height: 13.8px;
            justify-content: start;
        
            &::before {
                top: initial;
                bottom: 0;
            }
        }

        &::after {
            right: initial;
            left: 0;

            height: 1.5em;
            background-color: #DBDBDB;
        }

        span {
            font-weight: 500;
            color: #909090;
        }

        svg {
            fill: #909090;
            g { opacity: 1; }
        }

        &:hover {
            box-shadow: 0 -16px 16px rgba(0, 0, 0, 0.05), 0 -8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px -2px 2px rgba(0, 0, 0, 0.05), 0px -1px 1px rgba(0, 0, 0, 0.05);
            .language__switcher-select {
                top: -100%;
                box-shadow: none;
            }
        }

        @media (max-width: 1230px) { margin-top: 0 }
        @media (max-width: 575px) { display: none }
    }
}