.main-slider {
    position: relative;
    background-color: white;

    &-pagination {
        width: calc(100% - 30px);
        height: 100%;

        display: flex;

        position: absolute;
        top: 0;right: 0;left: 0;bottom: 0;

        @include make-container(1620px);
        
        &-arrow {
            padding: 0;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;

            width: 3em;
            height: 3em;

            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);

            transition: .4s;

            svg {
                width: 0.45em;
                height: 0.7em;
            }

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
                svg {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                background-color: $spanishRed;
            }
        }
    }

    &-item {
        width: 100%;
        height: calc(100vh - 7.5em);
        min-height: 40.75em;
        max-height: 45em;

        color: white;

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            height: 100%;

            @include make-container(1200px);
        }

        &-tag {
            padding: 0.5em 1.5em;
            margin-bottom: 1em;
            position: relative;
            
            display: flex;
            align-items: center;
            justify-content: center;

            width: fit-content;
            
            span {
                text-transform: uppercase;

                font-family: 'GothamPro', sans-serif;
                font-weight: 700;
                font-size: 0.6em;

                line-height: 1;
                letter-spacing: 0.1em;
            }

            &::after {
                content: "";
                background: rgba(255, 255, 255, 0.4);
                filter: blur(0.5em);

                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;right: 0;left: 0;bottom: 0;

                display: block;
            }
        }

        h1 {
            font-family: 'GothamPro', sans-serif;
            font-weight: 700;
            font-size: 3em;

            line-height: 1;
        }

        p {
            font-size: 1em;
            font-weight: 300;

            margin-top: 1.25em;
            max-width: 29.4em;
            line-height: 160%;

            span {
                font-weight: 500;
            }
        }
        
        a {
            display: flex;
            align-items: center;

            width: fit-content;
            font-family: 'GothamPro', sans-serif;
            font-weight: 700;

            margin-top: 1.6em;
            padding: 0.8em 2.5em;
            background-color: $spanishRed;

            transition: .4s;

            svg {
                width: 1em;
                height: 0.6em;

                margin-top: 0.1em;
                margin-right: 0.5em;

                fill: white;
                transition: .4s fill;
            }

            span {
                font-size: 0.8em;
                line-height: 150%;
            }

            &:hover {
                color: $spanishRed;
                background-color: white;
                svg {
                    fill: $spanishRed;
                }
            }
        }
    }
}