.medicine-slider {
    background-color: #F0F0F0;
    overflow: hidden;

    &__container {
        padding: 4em 15px 3em;

        h1 {
            max-width: 900px;

            @media (max-width: 768px) {
                font-size: 1.5em;
            }
    
            @media (max-width: 575px) { 
                font-size: 1em;
            }
        }

        @media (max-width: 1024px) {
            padding: 3em 15px 2em;
        }

        @media (max-width: 768px) {
            padding: 2em 15px 1em;
        }

        @media (max-width: 575px) { 
            padding: 1.5em 15px 1em;
        }
    }
}

.m-slider {
    &__item {
        width: 11.9em;
        height: 15em;

        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;bottom: 0;right: 0;left: 0;
        }

        a {
            position: absolute;
            bottom: 0;
            z-index: 10;
            margin-top: auto;
            
            display: flex;
            width: 100%;
            height: 3.3em;

            box-sizing: border-box;

            padding: 0.75em;
            color: white;

            transition: .4s background-color;
            background-color: rgba(130, 148, 173, 0.6);

            span {
                font-size: 0.9em;
                font-family: 'GothamPro', sans-serif;
                font-weight: 700;

                @media (max-width: 450px) {
                    font-size: 0.6em;
                }
            }

            &:hover {
                background-color: $spanishRed;
            }

            @media (max-width: 450px) {
                height: 2.2em;
                padding: 0.5em 0.75em;
            }
        }

        @media (max-width: 450px) {
            height: 12em;
        }

        @media (max-width: 400px) {
            height: 10em;
        }
    }
}