.official-partner {
    @include make-container(1920px);

    padding: 7em 0 13.2em;
    
    background-repeat: no-repeat;
    background-position: 85% 100%; 
    background-size: 1200px 95%;

    @media (max-width: 1920px) {
        background-size: 60% 95%;
        padding: 7.29% 0 13.75%;
    }

    @media (max-width: 1500px) {
        background-size: 70% 95%;
    }

    @media (max-width: 1200px) {
        background-position: 95% 100%; 
    }

    @media (max-width: 1024px) {
        background-size: 65% 98%; 
    }

    @media (max-width: 768px) {
        padding: 2em 0;
        text-align: center;

        background-position: 100% 100%; 
        background-size: 100% 65%;
    }

    @media (max-width: 575px) {
        background-size: 100% 55%;
    }

    @media (max-width: 400px) {
        padding: 1.5em 0 0;
        background-position: 100% 90%;
        background-size: 100% 57%;
    }

    &__info {
        max-width: 20.1em;
        display: flex;
        flex-direction: column;

        h1 { font-size: 2em }

        &-link {
            color: $darkBlue;
            font-weight: 700;
            line-height: 160%;
            font-size: 1.2em;

            padding: 0.625em 0 0.2em;
        }

        p {
            font-size: 0.9em;
            line-height: 160%;
            font-weight: 300;

            margin-bottom: 1.7em;
        }

        .g-red-link {
            margin-top: 0;
            color: white;
            border: 0.05em solid $spanishRed;

            &:hover {
                color: $spanishRed;
                background-color: rgba(255, 255, 255, 0.8);
            }
        }

        @media (max-width: 1024px) {
            font-size: 0.8em;
        }

        @media (max-width: 768px) {
            font-size: 1em;
            margin: 0 auto;

            .g-red-link {
                width: initial;
                margin-top: 40vw;
                padding: 0.8em 0;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media (max-width: 575px) {
            h1 { 
                font-size: 30px;
                margin: 0 auto;
            }
        }

        @media (max-width: 400px) {
            margin-bottom: 30px;
            h1 { 
                font-size: 20px;
                max-width: 70%;
                margin: 0 auto;
            }
            &-link { font-size: 12px }
            p { font-size: 14px; margin-bottom: 1em;}

            .g-red-link {
                margin-top: 45vw;
                span {
                    font-size: 12px;
                }
            }
        }
    }
}