.services {
    &__container {
        display: flex;
        @include make-container(1920px);
        padding: 0;
    }

    &__table {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0.1em;

        &-item {
            width: 100%;
            height: 25vw;

            display: flex;
            background: center center / cover no-repeat;

            color: white;

            &-info {
                margin-top: auto;
                padding: 0 3.125vw;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                
                height: 21%;
                background: linear-gradient(180deg, rgba(130, 148, 173, 0.4) 0%, rgba(130, 148, 173, 0.4) 100%);
                transition: .4s;

                h2 {
                    font-family: 'GothamPro', sans-serif;
                    font-weight: 700;
                    font-size: 1.563vw;

                    transition: .4s;

                    @media (max-width: 1024px) {
                        font-size: 2.930vw;
                    }

                    @media (max-width: 400px) {
                        font-size: 5.625vw;
                    }
                }
                
                p {
                    height: 0;
                    margin: 0 3vw 0 0;
                    font-size: 0.938vw;
                    overflow: hidden;
                    line-height: 160%;

                    opacity: 0;
                    transition: .7s;

                    @media (max-width: 1024px) {
                        font-size: 1.4vw;
                    }

                    @media (max-width: 400px) {
                        font-size: 3.750vw;
                    }
                }
            }

            &:not(.services__table-item--description):hover {
                .services__table-item-info {
                    height: 100%;
                    background: $darkBlue;
                }

                h2 { padding-bottom: 1.302vw }
                @media (max-width: 400px) { h2 { padding-bottom: 3.125vw } }

                p {
                    height: auto;
                    opacity: 1;
                }
            }

            &--description {
                .services__table-item-info {
                    height: 100%;
                    background: #F0F0F0;
                    color: $lightBlack;
                    
                    h2 { padding-bottom: 1.302vw }
                    @media (max-width: 400px) { h2 { padding-bottom: 3.125vw } }

                    p {
                        height: auto;
                        opacity: 1;
                    }
                }
            }

            @media (min-width: 1920px) {
                height: 480px;

                &-info {
                    padding: 0 60px;

                    h2 {font-size: 30px;}

                    p {
                        font-size: 18px;
                        margin: 0 56px 0 0;
                    }
                }

                &:not(.services__table-item--description):hover {
                    h2 {padding-bottom: 25px;}
                }

                &--description {
                    .services__table-item-info { 
                        h2 {padding-bottom: 25px;}
                    }
                }
            }

            @media (max-width: 1024px) {
                height: 35vw;
            }

            @media (max-width: 400px) {
                height: 75vw;
            }

            @media (max-width: 320px) {
                height: 240px;
            }
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 400px) {
            grid-template-columns: 1fr;
        }
    }
}