html {
  scroll-behavior: smooth; }

body {
  background-color: white;
  font-size: 20px;
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-width: 320px; }

.m-open {
  overflow: hidden; }
  .m-open .header {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0; }
    .m-open .header .menu {
      display: block; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Black.woff2") format("woff2"), url("../fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal; }

.container__1200px {
  max-width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto; }

a {
  text-decoration: none;
  color: inherit; }

select {
  outline: none;
  border: none; }
  select:focus {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

button {
  border: none;
  cursor: pointer; }

ul {
  margin: 0;
  padding: 0; }

input {
  padding: 0; }

input:focus, textarea:focus, button:focus {
  outline: none; }

.none {
  display: none !important; }

.g-heading {
  font-weight: 900;
  font-size: 40px;
  font-family: 'GothamPro', sans-serif;
  color: #202020;
  line-height: 120%; }

.g-input {
  border: 0.05em solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 1.43em;
  line-height: 1;
  font-size: 0.7em;
  font-family: 'Roboto', sans-serif;
  transition: .4s;
  border-radius: 0;
  appearance: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .g-input::placeholder {
    color: #A6A6A6; }
  .g-input:focus::placeholder {
    opacity: 0; }

.g-input-error {
  background-color: #FAD5D5;
  border: 0.05em solid #FF0000;
  color: #FF6D6D;
  transition: .4s; }
  .g-input-error::placeholder {
    color: #FF6D6D; }

.g-select-error {
  background-color: #FAD5D5 !important;
  border: 0.05em solid #FF0000 !important;
  color: #FF6D6D;
  transition: .4s; }
  .g-select-error .select-box-current {
    color: #FF6D6D; }
  .g-select-error svg {
    fill: #FF0000; }

.header {
  font-family: 'GothamPro', sans-serif;
  font-weight: 500;
  background-color: white;
  color: #202020;
  font-size: 1em;
  display: flex;
  flex-direction: column; }
  @media (max-width: 1230px) {
    .header {
      font-size: 18px; } }
  @media (max-width: 1150px) {
    .header {
      font-size: 16px; } }

.header__burger {
  background-color: #E4002B;
  overflow: hidden;
  display: none; }
  @media (max-width: 768px) {
    .header__burger {
      display: flex; } }

.header__helpful {
  background-color: #333;
  color: #999;
  height: auto; }
  .header__helpful-container {
    display: flex; }
  .header__helpful-nav a {
    font-size: 0.8em;
    transition: .4s color; }
    .header__helpful-nav a:not(:first-child) {
      margin-left: 1.1em; }
    .header__helpful-nav a:hover {
      color: white; }
  .header__helpful-mail {
    transition: .4s color; }
    .header__helpful-mail svg {
      width: 0.6em;
      height: 0.45em;
      margin: 0.1em 0.2em 0 0;
      transition: .4s fill; }
    .header__helpful-mail:hover {
      color: white;
      text-decoration: underline; }
      .header__helpful-mail:hover svg {
        fill: white; }
    @media (max-width: 1024px) {
      .header__helpful-mail svg {
        margin: 0 0.2em 0.1em 0; } }
    @media (max-width: 900px) {
      .header__helpful-mail span {
        display: none; }
      .header__helpful-mail svg {
        width: 0.9em;
        height: 0.75em;
        margin: 0; } }
    .header__helpful-mail--menu:hover {
      color: #999999;
      text-decoration: underline; }
      .header__helpful-mail--menu:hover svg {
        fill: #999999; }
    @media (max-width: 768px) {
      .header__helpful-mail--menu {
        display: flex;
        align-items: center; }
        .header__helpful-mail--menu span {
          display: flex;
          color: #999999;
          font-size: 0.75em; }
        .header__helpful-mail--menu svg {
          width: 0.7em;
          height: 0.7em;
          margin-right: 0.2em; } }
    @media (max-width: 400px) {
      .header__helpful-mail--menu span {
        font-size: 0.7em; }
      .header__helpful-mail--menu svg {
        width: 0.6em;
        height: 0.45em;
        margin-top: 0.1em;
        margin-right: 0.25em; } }
  .header__helpful-phone {
    transition: .4s color; }
    .header__helpful-phone svg {
      width: 0.6em;
      height: 0.6em;
      margin: 0 0.1em 0 0;
      transition: .4s fill; }
    .header__helpful-phone:hover {
      color: white;
      text-decoration: underline; }
      .header__helpful-phone:hover svg {
        fill: white; }
    @media (max-width: 992px) {
      .header__helpful-phone span {
        display: none; }
      .header__helpful-phone svg {
        width: 0.8em;
        height: 0.8em;
        margin: 0; } }
    .header__helpful-phone--menu:hover {
      color: #999999;
      text-decoration: underline; }
      .header__helpful-phone--menu:hover svg {
        fill: #999999; }
    @media (max-width: 768px) {
      .header__helpful-phone--menu {
        display: flex;
        align-items: center; }
        .header__helpful-phone--menu span {
          display: flex;
          color: #999999;
          font-size: 0.75em; }
        .header__helpful-phone--menu svg {
          width: 0.7em;
          height: 0.7em;
          margin-right: 0.2em; } }
    @media (max-width: 500px) {
      .header__helpful-phone--menu {
        margin-bottom: 0.5em; } }
    @media (max-width: 400px) {
      .header__helpful-phone--menu span {
        font-size: 0.9em; }
      .header__helpful-phone--menu svg {
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.25em; } }
  .header__helpful-declare {
    background-color: #E4002B;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition: .4s background-color; }
    .header__helpful-declare svg {
      width: 0.9em;
      height: 0.7em;
      margin: 0 0.25em 0 0; }
    .header__helpful-declare span {
      font-size: 0.6em;
      font-weight: 700;
      white-space: nowrap; }
    .header__helpful-declare:hover {
      background-color: #CF0027; }
    @media (max-width: 1230px) {
      .header__helpful-declare {
        padding: 0 0.9em; }
        .header__helpful-declare span {
          font-size: 0.7em; } }
    .header__helpful-declare--menu {
      width: auto;
      padding: 0.6em 0.8em;
      margin-right: 0.5em; }
      .header__helpful-declare--menu span {
        font-size: 0.6em; }
      @media (max-width: 500px) {
        .header__helpful-declare--menu {
          margin-right: 0;
          margin-bottom: 0.75em; } }
      @media (max-width: 400px) {
        .header__helpful-declare--menu {
          padding: 0.8em; } }
  .header__helpful-account {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .4s background-color;
    color: white;
    padding: 0 0.9em; }
    .header__helpful-account svg {
      width: 0.65em;
      height: 0.7em;
      margin-bottom: 0.1em;
      margin-right: 0.25em; }
    .header__helpful-account span {
      font-size: 0.7em;
      font-weight: 400;
      white-space: nowrap; }
    .header__helpful-account:hover {
      background-color: #00239C; }
    @media (max-width: 1230px) {
      .header__helpful-account {
        width: 80%; } }
    .header__helpful-account--menu {
      padding: 0.6em 0.8em;
      background-color: #00239C; }
      .header__helpful-account--menu span {
        font-size: 0.6em; }
      @media (max-width: 500px) {
        .header__helpful-account--menu {
          width: initial; } }
      @media (max-width: 400px) {
        .header__helpful-account--menu {
          padding: 0.8em; }
          .header__helpful-account--menu svg {
            width: 0.55em;
            width: 0.6em; } }
  @media (max-width: 768px) {
    .header__helpful {
      display: none; } }

.header-b-item {
  border-left: 0.05em solid rgba(255, 255, 255, 0.2);
  margin: 0.75em 0;
  padding: 0.1em 1em;
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap; }
  .header-b-item span {
    font-size: 0.8em;
    line-height: 1; }
  @media (max-width: 1024px) {
    .header-b-item span {
      font-size: 0.7em; } }

.header__nav {
  background-color: white;
  width: 100%;
  padding: 0.75em 0; }
  .header__nav-container {
    display: flex; }
    @media (max-width: 768px) {
      .header__nav-container {
        padding-right: 0; } }
  .header__nav-logo {
    display: inherit;
    width: 4.15em;
    height: 3.5em;
    padding-right: 2.5em;
    margin-right: auto; }
    @media (max-width: 900px) {
      .header__nav-logo {
        width: 3em;
        height: 2.5em;
        padding-right: 1.5em; } }
    @media (max-width: 768px) {
      .header__nav-logo {
        padding: 0.25em 0; } }
  .header__nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    transition: .4s; }
    .header__nav-links-hidden {
      width: 0;
      padding: 0; }
    .header__nav-links a {
      font-weight: 400;
      font-size: 0.8em;
      margin-right: 2.5em;
      transition: .6s color;
      white-space: nowrap; }
      .header__nav-links a:hover {
        color: #E4002B; }
    @media (max-width: 900px) {
      .header__nav-links a {
        font-size: 0.7em;
        margin-right: 2em; } }
    @media (max-width: 800px) {
      .header__nav-links a {
        margin-right: 1.5em; } }
    @media (max-width: 768px) {
      .header__nav-links {
        display: none; } }
  .header__nav-search {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.25em 0;
    padding-left: 2.5em;
    background-color: white;
    border-left: 0.05em solid rgba(32, 32, 32, 0.2); }
    .header__nav-search-wrapper {
      width: 100%;
      position: relative;
      padding: 0.4em 0;
      border-bottom: 0.05em solid #F0F0F0;
      display: flex;
      align-items: center; }
      .header__nav-search-wrapper svg {
        width: 0.9em;
        height: 0.9em;
        margin: 0 0.55em 0.05em 0;
        transition: .4s ease; }
      .header__nav-search-wrapper input {
        width: 100%;
        height: fit-content;
        border: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .header__nav-search-wrapper input:focus::placeholder {
          opacity: 0; }
        .header__nav-search-wrapper input::placeholder {
          color: #B8B8B8; }
    @media (max-width: 900px) {
      .header__nav-search {
        font-size: 0.9em; } }
    @media (max-width: 768px) {
      .header__nav-search {
        display: none; } }
  .header__nav .nav__mb-item {
    display: none; }
    @media (max-width: 768px) {
      .header__nav .nav__mb-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        border-left: 0.05em solid rgba(32, 32, 32, 0.1);
        background-color: white; } }
  .header__nav-phone svg {
    width: 0.65em;
    height: 0.65em;
    fill: #B8B8B8; }
    @media (max-width: 575px) {
      .header__nav-phone svg {
        width: 0.8em;
        height: 0.8em; } }
  .header__nav-search-btn svg {
    width: 0.8em;
    height: 0.8em; }
    @media (max-width: 575px) {
      .header__nav-search-btn svg {
        width: 1em;
        height: 1em; } }
  @media (max-width: 768px) {
    .header__nav {
      padding: 0;
      box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05); } }

.header__searchbar {
  display: none; }
  @media (max-width: 768px) {
    .header__searchbar {
      font-size: 20px;
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 0;
      padding: 0 0.75em;
      transition: .4s;
      opacity: 0; }
      .header__searchbar--open {
        height: 2.4em;
        opacity: 1; }
      .header__searchbar svg {
        width: 1em;
        height: 0.9em;
        margin-right: 0.5em; }
      .header__searchbar input {
        border: none;
        background: transparent;
        width: 100%;
        height: 100%;
        font-size: 0.8em;
        overflow: hidden; }
        .header__searchbar input:focus::placeholder {
          opacity: 0; } }

.footer {
  padding: 1em 0 0.75em;
  font-family: 'GothamPro', sans-serif;
  background-color: #F5F5F5; }
  .footer__container {
    display: flex;
    flex-direction: column; }
  .footer__nav {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 0.05em solid rgba(32, 32, 32, 0.05);
    padding-bottom: 0.75em; }
    .footer__nav-logo img {
      width: 4.15em;
      height: 3.5em; }
    .footer__nav-logo--mb {
      display: none; }
      @media (max-width: 575px) {
        .footer__nav-logo--mb {
          display: flex !important; } }
    @media (max-width: 768px) {
      .footer__nav-logo {
        margin-bottom: auto; } }
    @media (max-width: 575px) {
      .footer__nav-logo {
        display: none; } }
    .footer__nav-links {
      display: flex;
      margin: 0.9em 0 0 3.65em; }
      .footer__nav-links a {
        font-size: 0.7em;
        transition: .4s color;
        white-space: nowrap; }
        .footer__nav-links a:not(:last-child) {
          margin-right: 2.14em; }
        .footer__nav-links a:hover {
          color: #E4002B; }
      @media (max-width: 1230px) {
        .footer__nav-links {
          display: grid;
          grid-template-columns: repeat(5, auto);
          grid-column-gap: 2.5em;
          grid-row-gap: 0.5em;
          margin: 0.5em 0 0 3.65em; }
          .footer__nav-links a {
            width: fit-content; }
            .footer__nav-links a:not(:last-child) {
              margin-right: 0; } }
      @media (max-width: 992px) {
        .footer__nav-links {
          grid-template-columns: repeat(3, auto); } }
      @media (max-width: 768px) {
        .footer__nav-links {
          margin-left: 2em;
          grid-template-columns: repeat(2, auto); } }
      @media (max-width: 575px) {
        .footer__nav-links {
          margin: 0 auto; }
          .footer__nav-links a {
            width: 100%;
            font-size: 0.8em;
            text-align: center; } }
      @media (max-width: 500px) {
        .footer__nav-links {
          grid-template-columns: repeat(1, auto);
          grid-gap: 1.5em; } }
    @media (max-width: 992px) {
      .footer__nav {
        padding-bottom: 1em; } }
    @media (max-width: 575px) {
      .footer__nav {
        padding-bottom: 1em;
        border-bottom: none; } }
  .footer__additionally {
    padding-top: 0.75em;
    display: flex;
    align-items: center; }
    .footer__additionally-copyright {
      font-size: 0.6em;
      color: #B0B0B0;
      white-space: nowrap;
      margin-right: 8.6em; }
      @media (max-width: 992px) {
        .footer__additionally-copyright {
          margin-right: 4em; } }
      @media (max-width: 768px) {
        .footer__additionally-copyright {
          margin-top: 3em; } }
      @media (max-width: 575px) {
        .footer__additionally-copyright {
          margin-top: 1em;
          margin-right: 0; } }
    .footer__additionally-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      @media (max-width: 575px) {
        .footer__additionally-wrapper {
          flex-direction: column;
          border-bottom: 0.05em solid rgba(32, 32, 32, 0.05);
          margin-bottom: 1em;
          padding-bottom: 1.5em; } }
    .footer__additionally-icons {
      display: flex;
      align-items: center; }
      .footer__additionally-icons a {
        display: flex;
        transition: .2s; }
        .footer__additionally-icons a:not(:last-child) {
          margin-right: 1.25em; }
        .footer__additionally-icons a:nth-child(1) img {
          width: 0.35em;
          height: 0.75em; }
        .footer__additionally-icons a:nth-child(2) img {
          width: 0.9em;
          height: 0.55em; }
        .footer__additionally-icons a:nth-child(3) img {
          width: 0.85em;
          height: 0.85em; }
        .footer__additionally-icons a:hover {
          transform: translateY(-0.15em); }
      @media (max-width: 575px) {
        .footer__additionally-icons {
          font-size: 1.3em;
          margin-bottom: 1em; } }
    .footer__additionally-policy {
      display: flex; }
      .footer__additionally-policy a {
        color: #00239C;
        text-decoration: underline;
        font-size: 0.6em;
        transition: .4s color; }
        .footer__additionally-policy a:hover {
          color: #202020; }
        .footer__additionally-policy a:not(:last-child) {
          margin-right: 5em; }
      @media (max-width: 1230px) {
        .footer__additionally-policy {
          flex-direction: column; }
          .footer__additionally-policy a:not(:last-child) {
            margin-right: 0;
            margin-bottom: 0.5em; } }
      @media (max-width: 768px) {
        .footer__additionally-policy {
          align-items: center; } }
      @media (max-width: 500px) {
        .footer__additionally-policy a:not(:last-child) {
          margin-bottom: 1.5em; } }
    .footer__additionally-ruso svg {
      width: 7.25em;
      height: 0.8em;
      transition: .4s; }
      .footer__additionally-ruso svg:hover {
        fill: #00239C; }
    .footer__additionally-ruso--mb {
      display: none;
      margin-top: 1em; }
      .footer__additionally-ruso--mb svg {
        width: 4.65em;
        height: 0.6em; }
      @media (max-width: 575px) {
        .footer__additionally-ruso--mb {
          display: flex !important; } }
    @media (max-width: 575px) {
      .footer__additionally-ruso {
        display: none; } }
    @media (max-width: 768px) {
      .footer__additionally {
        flex-direction: column-reverse; } }
  @media (max-width: 575px) {
    .footer {
      background-color: white;
      padding: 1.5em 0; } }

.language__switcher {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75em 0.7em;
  position: relative;
  transition: .4s; }
  .language__switcher::after {
    content: "";
    width: 0.05em;
    height: 1em;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-50%);
    transition: .4s; }
  .language__switcher main {
    display: flex;
    align-items: center; }
  .language__switcher span {
    font-size: 0.6em; }
  .language__switcher svg {
    margin-left: 0.15em;
    transition: .4s transform; }
  .language__switcher-select {
    opacity: 0;
    width: 1.4em;
    height: 1em;
    position: absolute;
    bottom: -100%;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .4s;
    padding: 0.75em 0.7em;
    background-color: white;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05); }
    .language__switcher-select span {
      margin-right: auto; }
    .language__switcher-select::before {
      content: "";
      width: 2.4em;
      height: 0.05em;
      background-color: rgba(32, 32, 32, 0.1);
      position: absolute;
      top: -0.05em; }
  .language__switcher:hover {
    background-color: white; }
    .language__switcher:hover .language__switcher-select {
      opacity: 1;
      z-index: 10; }
    .language__switcher:hover::after {
      display: none; }
    .language__switcher:hover span {
      color: #202020;
      font-weight: 500; }
    .language__switcher:hover svg {
      fill: #202020;
      transform: rotate(-180deg); }
      .language__switcher:hover svg g {
        opacity: 1; }
  .language__switcher--mb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto; }
    .language__switcher--mb .language__switcher-select {
      bottom: -83%;
      width: 50px;
      padding: 0.75em 0; }
      .language__switcher--mb .language__switcher-select span {
        margin-left: 1.5em; }
    .language__switcher--mb span {
      font-weight: 500;
      color: #909090; }
    .language__switcher--mb svg {
      fill: #909090;
      margin-left: 0.25em; }
      .language__switcher--mb svg g {
        opacity: 1; }
  .language__switcher--light {
    margin-top: 1em;
    margin-left: auto; }
    .language__switcher--light .language__switcher-select {
      box-shadow: none;
      top: -100%;
      justify-content: start; }
      .language__switcher--light .language__switcher-select::before {
        top: initial;
        bottom: 0.3em; }
    .language__switcher--light::after {
      right: initial;
      left: 0;
      height: 1.5em;
      background-color: #DBDBDB; }
    .language__switcher--light span {
      font-weight: 500;
      color: #909090; }
    .language__switcher--light svg {
      fill: #909090; }
      .language__switcher--light svg g {
        opacity: 1; }
    .language__switcher--light:hover {
      box-shadow: 0 -16px 16px rgba(0, 0, 0, 0.05), 0 -8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px -2px 2px rgba(0, 0, 0, 0.05), 0px -1px 1px rgba(0, 0, 0, 0.05); }
      .language__switcher--light:hover .language__switcher-select {
        top: -100%;
        box-shadow: none; }
    @media (max-width: 1230px) {
      .language__switcher--light {
        margin-top: 0; } }
    @media (max-width: 575px) {
      .language__switcher--light {
        display: none; } }

.main-slider {
  position: relative;
  background-color: white; }
  .main-slider-item {
    width: 100%;
    height: calc(100vh - 7.5em);
    min-height: 40.75em;
    max-height: 45em;
    color: white;
    background: center center / cover no-repeat; }
    .main-slider-item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      max-width: 1200px;
      padding: 0 15px;
      margin-right: auto;
      margin-left: auto; }
      @media (max-width: 1630px) {
        .main-slider-item-container {
          font-size: 0.8em;
          margin-left: 10em; } }
      @media (max-width: 1024px) {
        .main-slider-item-container {
          font-size: 0.6em; } }
      @media (max-width: 768px) {
        .main-slider-item-container {
          margin-left: 7em; } }
      @media (max-width: 575px) {
        .main-slider-item-container {
          margin-left: 4em; } }
      @media (max-width: 500px) {
        .main-slider-item-container {
          margin-left: 0; } }
    .main-slider-item-tag {
      padding: 0.5em 1.5em;
      margin-bottom: 1em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content; }
      .main-slider-item-tag span {
        text-transform: uppercase;
        font-family: 'GothamPro', sans-serif;
        font-weight: 700;
        font-size: 0.6em;
        line-height: 1;
        letter-spacing: 0.1em; }
      .main-slider-item-tag::after {
        content: "";
        background: rgba(255, 255, 255, 0.4);
        filter: blur(0.5em);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block; }
    .main-slider-item h1 {
      font-family: 'GothamPro', sans-serif;
      font-weight: 700;
      font-size: 3em;
      line-height: 1;
      max-width: 900px; }
      @media (max-width: 768px) {
        .main-slider-item h1 {
          max-width: 80%; } }
      @media (max-width: 575px) {
        .main-slider-item h1 {
          font-size: 2.14em; } }
      @media (max-width: 500px) {
        .main-slider-item h1 {
          max-width: none;
          padding-right: 1.5em;
          font-size: 28px; } }
    .main-slider-item p {
      font-size: 1em;
      font-weight: 300;
      margin-top: 1.25em;
      max-width: 29.4em;
      line-height: 160%; }
      .main-slider-item p span {
        font-weight: 500; }
      @media (max-width: 500px) {
        .main-slider-item p {
          padding-right: 1.5em; } }
    .main-slider-item a {
      display: flex;
      align-items: center;
      width: fit-content;
      font-family: 'GothamPro', sans-serif;
      font-weight: 700;
      margin-top: 1.6em;
      padding: 0.8em 2.5em;
      background-color: #E4002B;
      transition: .4s; }
      .main-slider-item a svg {
        width: 1em;
        height: 0.6em;
        margin-top: 0.1em;
        margin-right: 0.5em;
        fill: white;
        transition: .4s fill; }
      .main-slider-item a span {
        font-size: 0.8em;
        line-height: 150%; }
      .main-slider-item a:hover {
        color: #E4002B;
        background-color: white; }
        .main-slider-item a:hover svg {
          fill: #E4002B; }
    @media (max-width: 1630px) {
      .main-slider-item {
        min-height: 30em;
        height: auto; } }
    @media (max-width: 1024px) {
      .main-slider-item {
        min-height: 20em; } }
    @media (max-width: 575px) {
      .main-slider-item {
        min-height: 15em; } }
    @media (max-width: 400px) {
      .main-slider-item {
        min-height: 18em; } }

.experience {
  color: #202020;
  background-color: white;
  padding: 5em 0;
  text-align: center; }
  .experience__container {
    max-width: 1020px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto; }
  .experience__heading {
    text-transform: uppercase;
    margin-bottom: 0.5em; }
    @media (max-width: 575px) {
      .experience__heading {
        font-size: 1.2em; } }
  .experience__desc {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 150%;
    margin: 0 auto; }
    .experience__desc span {
      font-weight: 400;
      color: #00239C; }
    @media (max-width: 1024px) {
      .experience__desc {
        font-size: 1.1em;
        max-width: 400px;
        margin: 1em auto 2em; } }
    @media (max-width: 575px) {
      .experience__desc {
        font-size: 0.7em;
        max-width: 300px;
        margin: 0 auto 2em; } }
  .experience__list {
    width: 100%;
    margin: 2em auto 0;
    display: flex; }
    .experience__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 0 2.2em; }
      .experience__list-item img {
        width: auto;
        height: 3.65em; }
      .experience__list-item p {
        margin-top: 1.3em;
        font-family: 'GothamPro', sans-serif;
        line-height: 150%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        font-weight: 500;
        text-transform: uppercase; }
        .experience__list-item p::after {
          content: "";
          font-size: 1.25em;
          width: 2em;
          height: 0.15em;
          margin-top: 0.5em;
          background-color: #E4002B; }
        @media (max-width: 575px) {
          .experience__list-item p {
            width: 9.5em; } }
      .experience__list-item:nth-child(2)::after {
        right: -0.15em; }
      .experience__list-item:nth-child(3) img {
        padding-left: 1.4em; }
      .experience__list-item:nth-child(3)::before {
        display: none; }
      @media (max-width: 1024px) {
        .experience__list-item:nth-child(3) img {
          padding-left: 0; } }
      .experience__list-item::after, .experience__list-item::before {
        content: "";
        width: 0.1em;
        height: 4.5em;
        background-color: #F0F0F0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
        @media (max-width: 1024px) {
          .experience__list-item::after, .experience__list-item::before {
            display: none; } }
      .experience__list-item::after {
        right: 0; }
      .experience__list-item::before {
        left: 0; }
      .experience__list-item:first-child, .experience__list-item:last-child {
        padding: 0; }
        .experience__list-item:first-child::after, .experience__list-item:first-child::before, .experience__list-item:last-child::after, .experience__list-item:last-child::before {
          display: none; }
      .experience__list-item:first-child {
        margin-right: auto; }
        .experience__list-item:first-child p {
          margin-right: auto; }
        @media (max-width: 1024px) {
          .experience__list-item:first-child {
            margin-right: initial; }
            .experience__list-item:first-child p {
              margin-right: initial; } }
      .experience__list-item:last-child {
        margin-left: auto; }
        .experience__list-item:last-child p {
          margin-left: auto; }
        @media (max-width: 1024px) {
          .experience__list-item:last-child {
            margin-left: initial; }
            .experience__list-item:last-child p {
              margin-left: initial; } }
      @media (max-width: 1024px) {
        .experience__list-item {
          padding: 0;
          font-size: 1.2em; }
          .experience__list-item:nth-child(1) {
            order: 1; }
          .experience__list-item:nth-child(2) {
            order: 3; }
          .experience__list-item:nth-child(3) {
            order: 4; }
          .experience__list-item:nth-child(4) {
            order: 2; } }
      @media (max-width: 575px) {
        .experience__list-item {
          font-size: 0.8em; } }
      @media (max-width: 500px) {
        .experience__list-item {
          font-size: 0.6em; } }
    @media (max-width: 1200px) {
      .experience__list {
        width: 75%; } }
    @media (max-width: 1024px) {
      .experience__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 3.5em;
        width: fit-content; } }
    @media (max-width: 575px) {
      .experience__list {
        grid-column-gap: 2em;
        grid-row-gap: 2em; } }
  @media (max-width: 1200px) {
    .experience {
      font-size: 0.8em;
      padding: 3.5em 0; } }
  @media (max-width: 575px) {
    .experience {
      font-size: 1em;
      padding: 2em 0; } }
  @media (max-width: 500px) {
    .experience {
      padding: 1.5em 0; } }

.services__container {
  display: flex;
  max-width: 1920px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }

.services__table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.1em; }
  .services__table-item {
    width: 100%;
    height: 25vw;
    display: flex;
    background: center center / cover no-repeat;
    color: white; }
    .services__table-item-info {
      margin-top: auto;
      padding: 0 3.125vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 21%;
      background: linear-gradient(180deg, rgba(130, 148, 173, 0.4) 0%, rgba(130, 148, 173, 0.4) 100%);
      transition: .4s; }
      .services__table-item-info h2 {
        font-family: 'GothamPro', sans-serif;
        font-weight: 700;
        font-size: 1.563vw;
        transition: .4s; }
        @media (max-width: 1024px) {
          .services__table-item-info h2 {
            font-size: 2.930vw; } }
        @media (max-width: 400px) {
          .services__table-item-info h2 {
            font-size: 5.625vw; } }
      .services__table-item-info p {
        height: 0;
        margin: 0 3vw 0 0;
        font-size: 0.938vw;
        overflow: hidden;
        line-height: 160%;
        opacity: 0;
        transition: .7s; }
        @media (max-width: 1024px) {
          .services__table-item-info p {
            font-size: 1.4vw; } }
        @media (max-width: 400px) {
          .services__table-item-info p {
            font-size: 3.750vw; } }
    .services__table-item:not(.services__table-item--description):hover .services__table-item-info {
      height: 100%;
      background: #00239C; }
    .services__table-item:not(.services__table-item--description):hover h2 {
      padding-bottom: 1.302vw; }
    @media (max-width: 400px) {
      .services__table-item:not(.services__table-item--description):hover h2 {
        padding-bottom: 3.125vw; } }
    .services__table-item:not(.services__table-item--description):hover p {
      height: auto;
      opacity: 1; }
    .services__table-item--description .services__table-item-info {
      height: 100%;
      background: #F0F0F0;
      color: #202020; }
      .services__table-item--description .services__table-item-info h2 {
        padding-bottom: 1.302vw; }
      @media (max-width: 400px) {
        .services__table-item--description .services__table-item-info h2 {
          padding-bottom: 3.125vw; } }
      .services__table-item--description .services__table-item-info p {
        height: auto;
        opacity: 1; }
    @media (min-width: 1920px) {
      .services__table-item {
        height: 480px; }
        .services__table-item-info {
          padding: 0 60px; }
          .services__table-item-info h2 {
            font-size: 30px; }
          .services__table-item-info p {
            font-size: 18px;
            margin: 0 56px 0 0; }
        .services__table-item:not(.services__table-item--description):hover h2 {
          padding-bottom: 25px; }
        .services__table-item--description .services__table-item-info h2 {
          padding-bottom: 25px; } }
    @media (max-width: 1024px) {
      .services__table-item {
        height: 35vw; } }
    @media (max-width: 400px) {
      .services__table-item {
        height: 75vw; } }
  @media (max-width: 1024px) {
    .services__table {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 400px) {
    .services__table {
      grid-template-columns: 1fr; } }

.certificates {
  padding: 4em 0; }
  .certificates__heading {
    margin-bottom: 1em; }
    @media (max-width: 768px) {
      .certificates__heading {
        font-size: 1.5em;
        margin-bottom: 0.5em; } }
    @media (max-width: 400px) {
      .certificates__heading {
        font-size: 1.2em;
        margin-bottom: 0.75em; } }
  .certificates__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em; }
    .certificates__table-item {
      padding: 0.5em;
      background-color: white;
      box-shadow: 0 0.55em 2.2em rgba(38, 38, 38, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .certificates__table-item--certificate {
        grid-column: span 1;
        grid-row: span 2; }
        .certificates__table-item--certificate img {
          width: 100%;
          height: 100%; }
        @media (max-width: 575px) {
          .certificates__table-item--certificate {
            padding: 0.2em; } }
      .certificates__table-item--iso {
        width: auto;
        height: calc(100% - 1em); }
        .certificates__table-item--iso p {
          font-size: 0.8em;
          font-weight: 900;
          line-height: 120%;
          text-transform: uppercase;
          color: #005E9C;
          margin-top: 0.9375em;
          padding: 0 36px; }
          @media (max-width: 1230px) {
            .certificates__table-item--iso p {
              font-size: 1em;
              padding-bottom: 3em;
              max-width: 22.75em; } }
          @media (max-width: 992px) {
            .certificates__table-item--iso p {
              padding: 0 0 1em;
              font-size: 0.8em;
              line-height: 140%; } }
          @media (max-width: 768px) {
            .certificates__table-item--iso p {
              font-size: 0.6em; } }
          @media (max-width: 500px) {
            .certificates__table-item--iso p {
              font-size: 0.5em; } }
          @media (max-width: 400px) {
            .certificates__table-item--iso p {
              font-size: 0.3em;
              padding: 0 0 2.5em; } }
        .certificates__table-item--iso img {
          width: 4.9em; }
          @media (max-width: 1230px) {
            .certificates__table-item--iso img {
              width: 7em;
              padding-top: 3em; } }
          @media (max-width: 992px) {
            .certificates__table-item--iso img {
              width: 5em;
              padding-top: 1.5em; } }
          @media (max-width: 768px) {
            .certificates__table-item--iso img {
              width: 4.5em;
              padding-top: 1em; } }
          @media (max-width: 500px) {
            .certificates__table-item--iso img {
              width: 2em; } }
          @media (max-width: 400px) {
            .certificates__table-item--iso img {
              width: 1.75em; } }
        .certificates__table-item--iso:last-child p {
          color: #0054A4; }
          @media (max-width: 400px) {
            .certificates__table-item--iso:last-child p {
              max-width: 14.75em; } }
    @media (max-width: 1230px) {
      .certificates__table {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 575px) {
      .certificates__table {
        grid-gap: 0.5em; } }
  @media (max-width: 1230px) {
    .certificates {
      padding: 3em 0; } }
  @media (max-width: 768px) {
    .certificates {
      padding: 2em 0; } }
  @media (max-width: 500px) {
    .certificates {
      padding: 1.5em 0; } }

.blog {
  padding: 4.167vw 0;
  background-color: #F5F5F5; }
  @media (min-width: 1920px) {
    .blog {
      padding: 4em 0; } }
  .blog__container {
    max-width: 1860px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.563vw; }
  .blog__heading {
    margin-bottom: 1em; }
    @media (max-width: 1230px) {
      .blog__heading {
        padding: 0; } }
    @media (max-width: 768px) {
      .blog__heading {
        font-size: 1.5em;
        margin-bottom: 0.75em; } }
    @media (max-width: 400px) {
      .blog__heading {
        font-size: 1.2em;
        margin-bottom: 0.6em; } }
  .blog__table {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: auto;
    grid-gap: 1.042vw;
    width: auto;
    height: 30.208vw; }
    .blog__table-item {
      width: 30.208vw;
      background-color: white;
      font-family: 'GothamPro', sans-serif;
      display: flex;
      transition: .4s box-shadow;
      grid-column: span 2;
      grid-row: span 1; }
      @media (min-width: 1230px) {
        .blog__table-item--long {
          grid-column: span 1;
          grid-row: span 2;
          width: 16.667vw;
          flex-direction: column; }
          .blog__table-item--long .blog__table-item-img {
            width: auto;
            height: 23.802vw;
            position: relative; }
            .blog__table-item--long .blog__table-item-img img {
              width: 16.667vw;
              height: inherit; }
          .blog__table-item--long .blog__table-item-info h3 {
            -webkit-line-clamp: 2; } }
      .blog__table-item-info {
        height: auto;
        padding: 1.563vw 1.302vw 1.563vw 1.563vw;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .blog__table-item-info data {
          color: #00239C;
          font-size: 0.625vw;
          font-weight: 700;
          padding-bottom: 0.260vw; }
        .blog__table-item-info h3 {
          font-size: 0.833vw;
          font-weight: 700;
          line-height: 140%;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis; }
      .blog__table-item-img {
        width: auto;
        height: 14.583vw;
        position: relative; }
        .blog__table-item-img-tag {
          padding: 0.208vw 0.521vw;
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 0.625vw;
          font-weight: 700;
          line-height: 140%;
          color: white;
          transition: background-color .4s;
          background-color: #E4002B; }
        .blog__table-item-img img {
          width: 14.063vw;
          height: inherit; }
      .blog__table-item:hover {
        box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1); }
        .blog__table-item:hover .blog__table-item-img-tag {
          background-color: #00239C; }
      @media (max-width: 1230px) {
        .blog__table-item {
          grid-column: span 1;
          width: auto;
          height: 22.764vw; }
          .blog__table-item-img {
            height: 22.764vw; }
            .blog__table-item-img img {
              width: 22vw;
              height: 22.764vw; }
            .blog__table-item-img-tag {
              font-size: 0.976vw;
              padding: 0.325vw 0.813vw; }
          .blog__table-item-info {
            padding: 2.439vw 2.033vw 2.439vw 2.439vw; }
            .blog__table-item-info data {
              font-size: 0.976vw; }
            .blog__table-item-info h3 {
              font-size: 1.301vw; } }
      @media (max-width: 768px) {
        .blog__table-item {
          width: 100%;
          height: 26.875vw; }
          .blog__table-item-img {
            height: 26.875vw; }
            .blog__table-item-img img {
              width: 26.875vw;
              height: 26.875vw; }
            .blog__table-item-img-tag {
              display: none; }
          .blog__table-item-info {
            padding: 4.688vw 10vw 4.688vw 4.688vw; }
            .blog__table-item-info data {
              font-size: 2.5vw; }
            .blog__table-item-info h3 {
              font-size: 3.8vw;
              line-height: 120%; } }
    @media (min-width: 1920px) {
      .blog__table {
        grid-gap: 20px;
        height: 580px; }
        .blog__table-item {
          width: 580px; }
          .blog__table-item--long {
            width: 320px; }
            .blog__table-item--long .blog__table-item-img {
              width: auto;
              height: 457px; }
              .blog__table-item--long .blog__table-item-img img {
                width: 320px;
                height: 457px; }
          .blog__table-item-info {
            padding: 30px 25px 30px 30px; }
            .blog__table-item-info data {
              font-size: 12px; }
            .blog__table-item-info h3 {
              font-size: 16px; }
          .blog__table-item-img {
            height: 280px; }
            .blog__table-item-img-tag {
              padding: 4px 10px;
              font-size: 12px; }
            .blog__table-item-img img {
              width: 270px;
              height: inherit; } }
    @media (max-width: 1230px) {
      .blog__table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto; } }
    @media (max-width: 768px) {
      .blog__table {
        display: grid;
        grid-template-columns: 1fr;
        height: auto; } }

.contacts {
  padding: 4em 0;
  background: center/contain no-repeat url("./../images/svg/contacts-bg.svg") #00239C;
  background-size: 800px 105%; }
  .contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .contacts__container {
        flex-direction: column; } }
  .contacts__info {
    color: white;
    max-width: 22.15em; }
    .contacts__info h1 {
      font-weight: 900;
      font-size: 2.5em;
      font-family: 'GothamPro', sans-serif;
      margin: 0;
      max-width: 6.6em;
      line-height: 110%;
      padding-bottom: 0.5em;
      text-transform: uppercase;
      display: inline-flex; }
      @media (max-width: 500px) {
        .contacts__info h1 {
          font-size: 30px; } }
    .contacts__info p {
      font-size: 1em;
      line-height: 160%;
      display: inline-flex;
      padding-bottom: 1.5em; }
      @media (max-width: 1300px) {
        .contacts__info p {
          max-width: 300px; } }
      @media (max-width: 500px) {
        .contacts__info p {
          font-size: 12px; } }
    .contacts__info a {
      font-weight: 700;
      font-size: 1.5em;
      font-family: 'GothamPro', sans-serif;
      transition: .4s color;
      white-space: nowrap; }
      .contacts__info a:hover {
        color: #c0bebe; }
      @media (max-width: 500px) {
        .contacts__info a {
          font-size: 1.1em; } }
    @media (max-width: 1300px) {
      .contacts__info {
        margin: 3em auto auto; } }
    @media (max-width: 992px) {
      .contacts__info {
        text-align: left;
        margin: 0 0 50px 0; } }
    @media (max-width: 575px) {
      .contacts__info {
        flex-direction: column;
        justify-content: center;
        text-align: center; } }
  .contacts__form {
    background-color: white;
    padding: 3em; }
    .contacts__form-profile {
      display: flex;
      align-items: center;
      margin-bottom: 1em; }
      .contacts__form-profile img {
        width: 4em;
        height: 4em;
        margin-right: 1em; }
        @media (max-width: 500px) {
          .contacts__form-profile img {
            width: 40px;
            height: 40px; } }
      .contacts__form-profile h3 {
        font-weight: 900;
        font-family: 'GothamPro', sans-serif;
        text-transform: uppercase; }
        @media (max-width: 575px) {
          .contacts__form-profile h3 {
            font-size: 12px; } }
      .contacts__form-profile span {
        font-size: 0.7em;
        line-height: 160%; }
        @media (max-width: 575px) {
          .contacts__form-profile span {
            font-size: 10px; } }
    .contacts__form-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.75em;
      width: 28.25em;
      margin-bottom: 0.75em; }
      @media (max-width: 575px) {
        .contacts__form-wrapper {
          display: flex;
          flex-direction: column;
          width: auto; } }
    .contacts__form textarea {
      resize: none;
      display: flex;
      width: 100%;
      height: 13em; }
      @media (max-width: 500px) {
        .contacts__form textarea {
          height: calc(180px - 3em); } }
    .contacts__form-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.75em; }
      .contacts__form-btns span {
        max-width: 20.83em;
        font-size: 0.6em;
        line-height: 140%; }
        .contacts__form-btns span a {
          text-decoration: underline; }
      .contacts__form-btns button {
        background-color: #E4002B;
        color: white;
        padding: 1em 4.5em;
        line-height: 150%;
        font-size: 0.8em;
        font-family: 'GothamPro', sans-serif;
        font-weight: 900;
        transition: .4s background-color; }
        .contacts__form-btns button:hover {
          background-color: #CF0027; }
      @media (max-width: 575px) {
        .contacts__form-btns {
          flex-direction: column-reverse; }
          .contacts__form-btns span {
            text-align: center;
            margin-top: 0.8em; }
          .contacts__form-btns button {
            width: 100%; } }
    @media (max-width: 500px) {
      .contacts__form {
        font-size: 1.1em;
        padding: 30px 15px 22px; }
        .contacts__form input {
          padding: 16.5px; } }
  @media (max-width: 1300px) {
    .contacts {
      font-size: 0.8em; } }
  @media (max-width: 992px) {
    .contacts {
      padding: 6em 0; } }
  @media (max-width: 575px) {
    .contacts {
      padding: 3em 0;
      background-size: 240% 90%;
      background-position-y: 210%; } }
  @media (max-width: 400px) {
    .contacts {
      padding: 1.5em 0; } }

.card360deg {
  width: 34.25em;
  height: 31.85em;
  position: relative;
  perspective: 2000px;
  user-select: none; }
  @media (max-width: 575px) {
    .card360deg {
      width: 95%;
      height: 650px; } }

.front__side, .back__side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease .6s;
  backface-visibility: hidden; }

.card360deg .front__side {
  transform: rotateY(0deg); }

.card360deg .back__side {
  transform: rotateY(180deg); }

.back__side {
  transform: rotateY(180deg);
  background-color: white; }

.card360deg--active .front__side {
  transform: rotateY(180deg); }

.card360deg--active .back__side {
  transform: rotateY(360deg); }

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #A6A6A6;
  background: #F2F2F2;
  border: 0.05em solid #F2F2F2;
  transition: .4s;
  max-width: 13.75em;
  cursor: pointer; }
  .select-box .options-container {
    position: absolute;
    top: calc(100% + 0.2em);
    left: -1px;
    font-size: 0.7em;
    background: #dbdbdb;
    border: 0.05em solid #dbdbdb;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    order: 1; }
    .select-box .options-container::-webkit-scrollbar {
      display: none; }
    .select-box .options-container.active {
      max-height: 12.8em;
      opacity: 1;
      overflow-y: scroll; }
    .select-box .options-container .option {
      padding: 1em 1.43em;
      line-height: 120%; }
      .select-box .options-container .option label {
        cursor: pointer; }
  .select-box-current {
    height: 100%;
    font-size: 0.7em;
    padding: 1.43em;
    padding-right: 3.57em;
    position: relative;
    line-height: 136%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    order: 0; }
    @media (max-width: 500px) {
      .select-box-current {
        padding: 16.6px; } }
  .select-box-arrow {
    position: absolute;
    top: 50%;
    right: 1em;
    transition: .4s;
    transform: translateY(-50%);
    width: 0.65em;
    height: 0.4em; }
    .select-box-arrow-opened {
      transform: rotate(-180deg) translateY(50%); }
  @media (max-width: 575px) {
    .select-box {
      max-width: none; } }

.select-box .option .radio {
  display: none; }

.thanks__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; }
  .thanks__message img {
    width: 4.9em;
    height: 5em;
    margin-bottom: 1.3em; }
    @media (max-width: 400px) {
      .thanks__message img {
        margin-bottom: 2.3em; } }
  .thanks__message h1 {
    margin-bottom: 0.375em; }
  .thanks__message p {
    font-size: 0.9em;
    line-height: 140%;
    font-weight: 300;
    max-width: 24.4em; }
    @media (max-width: 500px) {
      .thanks__message p {
        padding: 0 3em; } }
    @media (max-width: 400px) {
      .thanks__message p {
        font-size: 0.8em; } }

.burger {
  display: none;
  position: relative;
  width: 50px;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  transition: transform 0.5s;
  padding: 0; }
  @media (max-width: 768px) {
    .burger {
      display: flex; } }
  .burger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 3px;
    transform: translate(-50%, -50%);
    transition: background 0.5s, transform 0.5s;
    background-color: #fff;
    border-radius: 100px; }
    .burger span:before, .burger span:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 3px;
      transform: translateY(-6px);
      transition: transform 0.5s, width 0.5s;
      background-color: #fff;
      transform-origin: 50% 50%;
      border-radius: 100px; }
    .burger span:after {
      width: 13px;
      left: auto;
      right: 0;
      transform: translateY(6px); }
  .burger svg {
    width: 50px;
    height: 48px;
    fill: transparent;
    stroke-width: 2px; }
  .burger.isOpen {
    transform: rotate(180deg); }
    .burger.isOpen span {
      background: transparent; }
    .burger.isOpen span:before {
      transform: translateY(0) rotate(45deg); }
    .burger.isOpen span:after {
      width: 22px;
      left: 0;
      transform: translateY(0) rotate(-45deg); }
    .burger.isOpen:hover svg {
      fill: rgba(255, 255, 255, 0.1); }

.g-pagination {
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 20px !important; }
  .g-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.7;
    transition: background-color 0.3s;
    cursor: pointer; }
    @media (max-width: 360px) {
      .g-pagination .swiper-pagination-bullet {
        width: 6px;
        height: 6px; } }
    .g-pagination .swiper-pagination-bullet:not(:last-child) {
      margin-right: 5px; }
    .g-pagination .swiper-pagination-bullet-active {
      opacity: 1;
      background-color: #E4002B; }
  @media (max-width: 575px) {
    .g-pagination {
      display: flex; } }

.g-arrows-pagination {
  width: calc(100% - 30px);
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 1620px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }
  .g-arrows-pagination-arrow {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s; }
    .g-arrows-pagination-arrow svg {
      width: 0.45em;
      height: 0.7em; }
    .g-arrows-pagination-arrow--prev {
      left: 0; }
    .g-arrows-pagination-arrow--next {
      right: 0; }
      .g-arrows-pagination-arrow--next svg {
        transform: rotate(180deg); }
    .g-arrows-pagination-arrow:hover {
      background-color: #E4002B; }
    @media (max-width: 1024px) {
      .g-arrows-pagination-arrow {
        width: 2em;
        height: 2em; }
        .g-arrows-pagination-arrow svg {
          width: 0.3em;
          height: 0.45em; } }
    @media (max-width: 575px) {
      .g-arrows-pagination-arrow {
        top: initial;
        bottom: 1.5em;
        transform: none;
        background-color: rgba(255, 255, 255, 0.5); }
        .g-arrows-pagination-arrow svg {
          fill: #ffffff; } }
  @media (max-width: 1630px) {
    .g-arrows-pagination {
      margin: 0 15px; } }
  @media (max-width: 575px) {
    .g-arrows-pagination--main {
      display: none; } }

.menu {
  height: 100%;
  font-size: 20px;
  overflow-y: auto;
  display: none; }
  .menu__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0;
    height: 100%; }
  .menu__links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2em;
    padding: 2em 0 1em; }
    .menu__links a {
      font-size: 1em;
      font-weight: 400;
      width: fit-content; }
      .menu__links a:not(:last-child) {
        margin-bottom: 1em; }
    .menu__links-wrapper {
      width: 100%;
      height: 100%;
      max-width: 400px; }
    @media (max-width: 500px) {
      .menu__links {
        width: 100%;
        grid-template-columns: repeat(1, auto);
        max-width: 400px;
        padding: 1em 0; } }
    @media (max-width: 400px) {
      .menu__links a {
        font-size: 0.8em; } }
  .menu__widgets {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1em 0;
    border-top: 0.05em solid rgba(32, 32, 32, 0.1); }
    .menu__widgets-contacts {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 500px) {
        .menu__widgets-contacts {
          flex-direction: column; } }
    .menu__widgets-btns {
      display: flex;
      margin-top: 1em; }
      @media (max-width: 500px) {
        .menu__widgets-btns {
          flex-direction: column; } }
  @media (max-width: 768px) {
    .menu {
      display: none; } }
