.header {
    font-family: 'GothamPro', sans-serif;
    font-weight: 500;

    background-color: white;
    color: $lightBlack;
    font-size: 1em;

    display: flex;
    flex-direction: column;
}

.header__helpful {
    background-color: #333;
    color: #999;
    height: auto;

    &-container {
        display: flex;
    }

    &-nav {
        a {
            font-size: 0.8em;
            transition: .4s color;

            &:not(:first-child) {
                margin-left: 1.1em;
            }

            &:hover {
                color: white;
            }
        }
    }

    &-mail {
        transition: .4s color;

        svg {
            width: 0.6em;
            height: 0.45em;

            margin: 0.1em 0.2em 0 0;
            transition: .4s fill;
        }

        &:hover {
            color: white;
            text-decoration: underline;

            svg {
                fill: white;
            }
        }
    }

    &-phone {
        transition: .4s color;

        svg {
            width: 0.6em;
            height: 0.6em;

            margin: 0 0.1em 0 0;
            transition: .4s fill;
        }

        &:hover {
            color: white;
            text-decoration: underline;

            svg {
                fill: white;
            }
        }
    }

    &-declare {
        background-color: $spanishRed;
        color: white;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        white-space: nowrap;

        svg {
            width: 0.9em;
            height: 0.7em;

            margin: 0 0.25em 0 0;
        }

        span {
            font-size: 0.6em;
            font-weight: 700;
            white-space: nowrap;
        }
    }

    &-account {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: rgba(255, 255, 255, 0.1);
        transition: .4s background-color;
        color: white;

        padding: 0 0.9em;

        svg {
            width: 0.65em;
            height: 0.7em;

            margin-bottom: 0.1em;
            margin-right: 0.25em;
        }

        span {
            font-size: 0.7em;
            font-weight: 400;
            white-space: nowrap;
        }

        &:hover {
            background-color: $darkBlue;
        }
    }

    &-language {
        background-color: inherit;
        color: inherit;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0.75em 0.7em;
        position: relative;
        transition: .4s;

        &::after {
            content: "";
            width: 0.05em;
            height: 1em;

            position: absolute;
            right: 0;
            top: 50%;

            background-color: rgba(255, 255, 255, 0.2);
            transform: translateY(-50%);
            transition: .4s;
        }

        main {
            display: flex;
            align-items: center;
        }

        span {
            font-size: 0.6em;
        }

        svg {
            margin-left: 0.15em;
            transition: .4s transform;
        }

        &:hover {
            background-color: white;

            .header__helpful-language-select {
                opacity: 1;
                z-index: 10;
            }

            &::after {
                display: none;
            }

            span {
                color: $lightBlack;
                font-weight: 500;
            }

            svg {
                fill: $lightBlack;
                transform: rotate(-180deg);

                g { opacity: 1; }
            }
        }

        &-select {
            opacity: 0;

            width: 1.4em;
            height: 1em;

            position: absolute;
            bottom: -100%;
            z-index: -10;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            transition: .4s;
            padding: 0.75em 0.7em;
            background-color: white;
            box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05);
        
            span {
                margin-right: auto;
            }

            &::before {
                content: "";
                width: 2.4em;
                height: 0.05em;

                background-color: rgba(32, 32, 32, 0.1);
                position: absolute;
                top: -0.05em;
            }
        }
    }
}


.header-b-item {
    border-left: 0.05em solid rgba(255, 255, 255, 0.2);
    margin: 0.75em 0;
    padding: 0.1em 1em;

    display: flex;
    align-items: center;
    
    width: fit-content;
    white-space: nowrap;

    span {
        font-size: 0.8em;
        line-height: 1;
    }
}

.header__nav {
    background-color: white;
    width: 100%;
    padding: 0.75em 0;

    &-container {
        display: flex;
    }

    &-logo {
        display: inherit;

        width: 4.15em;
        height: 3.5em;

        padding-right: 2.5em;
        margin-right: auto;
    }

    &-links {
        width: 100%;

        display: flex;
        align-items: center;

        transition: .4s;

        &-hidden {
            width: 0;
            padding: 0;
        }

        a {
            font-weight: 400;
            font-size: 0.8em;
            margin-right: 2.5em;

            transition: .6s color;
            white-space: nowrap;

            &:hover {
                color: $spanishRed;
            }
        }
    }

    &-search {
        display: flex;
        align-items: center;

        width: 100%;

        margin: 0.25em 0;
        padding-left: 2.5em;
        background-color: white;
        border-left: 0.05em solid rgba(32, 32, 32, 0.2);
        
        &-wrapper {
            width: 100%;
            position: relative;

            padding: 0.4em 0;
            border-bottom: 0.05em solid #F0F0F0;

            display: flex;
            align-items: center;


            svg {
                width: 0.9em;
                height: 0.9em;

                margin: 0 0.55em 0.05em 0;
                transition: .4s ease;
            }

            input {
                width: 100%;
                height: fit-content;
                border: none;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:focus {
                    &::placeholder {
                        opacity: 0;
                    }
                }
        
                &::placeholder {
                    color: #B8B8B8;
                }
            }
        }
    }
}