.header {
    font-family: 'GothamPro', sans-serif;
    font-weight: 500;

    background-color: white;
    font-size: 1em;
}

.header__helpful {
    background-color: #333;
    color: #999;
    height: auto;

    &-container {
        display: flex;
    }

    &-nav {
        a {
            font-size: 0.8em;

            &:not(:first-child) {
                margin-left: 1.1em;
            }
        }
    }

    &-mail {
        svg {
            width: 0.6em;
            height: 0.45em;

            margin: 0.1em 0.2em 0 0;
        }
    }

    &-phone {
        svg {
            width: 0.6em;
            height: 0.6em;

            margin: 0 0.1em 0 0;
        }
    }

    &-declare {
        background-color: $spanishRed;
        color: white;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        white-space: nowrap;

        svg {
            width: 0.9em;
            height: 0.7em;

            margin: 0 0.25em 0 0;
        }

        span {
            font-size: 0.6em;
            font-weight: 700;
            white-space: nowrap;
        }
    }

    &-account {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: rgba(255, 255, 255, 0.1);
        color: white;

        padding: 0 0.9em;

        svg {
            width: 0.65em;
            height: 0.7em;

            margin-bottom: 0.1em;
            margin-right: 0.25em;
        }

        span {
            font-size: 0.7em;
            font-weight: 400;
            white-space: nowrap;
        }
    }

    &-language {
        background-color: inherit;
        color: inherit;

        display: flex;
        align-items: center;

        padding: 0 0.7em;
        margin: 0.75em 0;

        border-right: 0.05em solid rgba(255, 255, 255, 0.2);

        span {
            font-size: 0.6em;
        }

        svg {
            margin-left: 0.15em;
        }
    }
}


.header-b-item {
    border-left: 0.05em solid rgba(255, 255, 255, 0.2);
    margin: 0.75em 0;
    padding: 0.1em 1em;

    display: flex;
    align-items: center;
    
    width: fit-content;
    white-space: nowrap;

    span {
        font-size: 0.8em;
        line-height: 1;
    }
}