<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="">
    <div class="page">

        {{> header }}
    
        {{> body }}
    
        {{> footer }}

        <div class="cookies cookies--open">
            <div class="cookies__content">
                <div class="cookies__container">
                    <img class="cookie-icon" src="./assets/images/svg/cookies-icon.svg" alt="cookies icon">
                    <div class="cookies__container-info">
                        <p>Для повышения удобства работы с сайтом Europ Assistance использует файлы cookie. В cookie содержатся данные о прошлых посещениях сайта. Если вы не хотите, чтобы эти данные обрабатывались, отключите cookie в настройках браузера.</p>
                        <button type="button" id="cookieAgreeBtn">Согласиться</button>
                    </div>
                    <svg class="cookies-close" id="cookieCloseBtn" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.6">
                            <path d="M7.2 3.14722e-07L8 0.8L0.8 8L6.35084e-09 7.2L7.2 3.14722e-07Z" fill="white"/>
                            <path d="M8 7.2L7.2 8L0 0.8L0.8 0L8 7.2Z" fill="white"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>new WOW().init();</script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
